<div itemscope itemtype="https://schema.org/Person" style="width: 100%; display: table;">
    <div style="display: table-row;">
        <div class="author__avatar" style="display: table-cell; padding-bottom: 5px;">
          <img src="{{ include.picture }}" alt="{{ include.name }}" itemprop="image">
        </div>
        <div class="author__content" style="display: table-cell; padding-left: 15px;">
          {% if include.site == null %}
            <h3 class="author__name" itemprop="name">{{ include.name }}</h3>
          {% else %} 
            <a href="{{ include.site }}"><h3 class="author__name" itemprop="name">{{ include.name }}</h3></a>
          {% endif %}
          <p class="author__bio" itemprop="description">{{ include.institution }}</p>
        </div>
    </div>
</div>
